<footer class="py-3 mt-auto bg-dark">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item">
      <a href="/" class="nav-link px-2 text-light">Home</a>
    </li>
    <li class="nav-item">
      <a href="/campgrounds" class="nav-link px-2 text-light">Campgrounds</a>
    </li>
    <li class="nav-item">
      <a href="/campgrounds/new" class="nav-link px-2 text-light"
        >New Campground</a
      >
    </li>
  </ul>
  <p class="text-center text-light">
    © 2023 YelpCamp
    <a
      class="link-info link-offset-1 link-underline-opacity-0 link-underline-opacity-75-hover"
      href="https://github.com/Kuba-Nowoszynski"
      target="_blank"
      >by Q8</a
    >
  </p>
</footer>
